<div class="modal-header">
  <h3 class="modal-title">{{ ctrl.event.title }}</h3>
</div>

<div class="modal-body">
  <h5>Arranged by:
    <pre>** User **</pre>
  </h5>

  <h5>Date:
    <pre>{{ ctrl.date }} at: {{ ctrl.time }}</pre>
  </h5>

  <h5>Attendees:
    <pre>** List of attendees **</pre>
  </h5>

  <p id="attend">Attend?
    <input class='tgl tgl-flip' id='cb5' type='checkbox' ng-model="ctrl.checkboxModel.value">
    <label class='tgl-btn' data-tg-off="Not going" data-tg-on="Going!" for='cb5'></label>
  </p>

  <section class="scroll">

    <ul class="list-group">
      <li ng-repeat="comUser in ctrl.usersAndComments" class="list-group-item">
        <strong>{{ comUser.username }} said:</strong> {{ comUser.comment.body }}
      </li>
    </ul>

  </section>

  <section ng-controller="socialCalController as controller">
    <section>
      <textarea class="form-control" placeholder="Leave a comment" rows="3" ng-model="commentText"></textarea>
      <button class="btn btn-primary" type="submit" ng-click="controller.postComment(ctrl.event.EventId, commentText)">Leave a comment</button>
    </section>

  </section>
</div>

<div class="modal-footer" ng-controller="socialCalController as controller">
  <button class="btn btn-primary" ng-click="$close(); controller.attendingNotification()">OK</button>
</div>
