<!DOCTYPE html>
<html ng-app="socialCal">
  <head>
    <meta charset="utf-8">
    <title>SocialCal</title>
    <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css"/>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script type="text/javascript" src="../bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="../bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="../bower_components/fullcalendar/dist/gcal.js"></script>

    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/socialCalController.js"></script>
    <script type="text/javascript" src="/javascripts/services/socialCalPostService.js"></script>
    <script type="text/javascript" src="/javascripts/services/socialCalGetService.js"></script>
  </head>

  <body>
    <section ng-controller="socialCalController as ctrl">

      <section>
        <h2>Sign up:</h2>
        <form>
          <input id="new-user-username" ng-model="username" placeholder="Enter username">
          <input type="password" id="new-user-password" ng-model="password" placeholder="Enter password">
          <button id="new-user-submit" type="submit" ng-click="ctrl.signUpUser(username, password)">Sign Up</button>
        </form>
      </section>

  </body>

</html>
